<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Request Header Parser</title>
        <link rel="stylesheet" href="public/styles.css">
    </head>
    <body>
        <h1>Request Header Parser Microservice</h1>
        <div class="cont">
            <p>This API will return a JSON with three key values, an ip address, language and software, all of these values should be for you browser.</p>
            <p>To use this API got to '/api/whoami'</p>
            <p>For ease of use click here: <a href="/api/whoami">/api/whoami</a></p>
        </div>
    </body>
</html>